.main{
    position: absolute;
    width: 1174px;
    height: 571px;
    left: 133px;
    top: 250px;
}
.contact_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    color: #4C4333;
}
.main_email_icon{
    height: 100px;
}
.contact_text, .contact_extra_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;

    color: #4C4333;
}
.contact_text{
    position: absolute;
    width: 772px;
    height: 238px;
    left: calc(50% - 772px/2 - 201px);
    top: 75px;
}
.contact_extra_text{
    position: absolute;
    width: 753px;
    height: 238px;
    left: calc(50% - 753px/2 + 250.5px);
    top: 330px;
}
.footer_shade{
    top: 700px;
}