.main{
    position: absolute;
    width: 1174px;
    height: 571px;
    left: calc(50% - 100px/2 - 537px);
    top: 250px;
}
.contact_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    color: #4C4333;
}
.main_email_icon{
    height: 100px;
}
.contact_text, .contact_extra_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;

    color: #4C4333;
}
.contact_text{
    position: absolute;
    width: 772px;
    height: 238px;
    left: 0px;
    top: 75px;
}
.contact_extra_text{
    position: absolute;
    width: 753px;
    height: 100px;
    left: calc(50% - 753px/2 + 200px);
    top: 330px;
}
.footer_shade{
    top: 750px;
}
@media only screen and (max-width: 1160px){
    .main{
        left: calc(50% - 310px);
        width: 650px;
    }
    .contact_title{
        width: 650px;
    }
    .contact_text{
        width: 650px;
    }
    .contact_extra_text{
        top: 360px;
        left: 0px;
        width: 650px;
    }
}