.home{
    position: absolute;
    width: 1188px;
    height: 566px;
    left: 133px;
    top: 250px;
}
.home_text_title{
    position: absolute;
    width: 700px;
    height: 121px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    color: #4C4333;
}
.home_text_filling{
    position: absolute;
    width: 630px;
    height: 420px;
    top: 130px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;

    color: #4C4333;
}
.books_on_homepage{
    position: absolute;
    top: -20px;
    width: 460px;
    right: 25px;
}
.footer_shade{
    top: 800px;
}