.text{
    position: relative;
    word-wrap: break-word;
    width: 50%;
}
.home_text_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    

    color: #4C4333;
}
.home_text_filling{
    margin-top: 15px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;

    color: #4C4333;
}
.books_on_homepage{
    height: 50%;
    margin-top: -40px;
    margin-right: -20px;
    position: static;
    align-items: flex-end;
    justify-content:right;
}   
@media only screen and (max-width: 1248px){
    .text{
        
        width: 100%;
    }
    .books_on_homepage{
        height: 0%;
        width: 0px;
    }  
}
@media only screen and (max-width: 725px){
    .home_text_title{
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
    }
    .home_text_filling{
        font-size: 24px;
        line-height: 26px;
    }
    .books_on_homepage{
        height: 80%;
        width: 80%;
        margin-left: 10%;
        margin-top: 10px;
    }  
}