.main{
    position: absolute;
    width: 564px;
    height: 700px;
    left: calc(50% - 284px);
    top: 250px;
}
.login_text, .register_text{
    position: absolute;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 59px;
    
    color: #4C4333;
}
.register_text{
    font-size: 48px;
}
.login_text{
    right: 10px;

    font-size: 36px;
}
.email_text, .password_text, .repeat_password_text, .name_text{
    position: absolute;
    left: 10px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
    
    color: #4C4333;
}
.name_text{
    top: 75px;
}
.email_text{
    top: 190px;
}
.password_text{
    top: 315px;
}
.repeat_password_text{
    top: 440px;
}
.email_field, .password_field, .repeat_password_field, .name_field{
    position: absolute;
    width: 564px;
    height: 50px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;
    
    color: #55472e;

    background: #F4F4F4;
    border-radius: 14px;
    border: none;
    cursor: text;
}
.name_field{
    top: 120px;
}
.email_field{
    top: 235px;
}
.password_field{
    top: 360px;
}
.repeat_password_field{
    top: 485px;
}
.terms_text{
    position: absolute;
    left: 10px;
    bottom: 100px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 41px;
    
    color: #4C4333;
}
.register_button{
    position: absolute;
    width: 316px;
    height: 68px;
    left: calc(50% - 316px/2);
    bottom: 0px;

    background: #F4F4F4;
    border-radius: 14px;
    border: none;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;

    color: #4C4333;
}

.footer_shade{
    top: 960px;
}