.header_button_home{
    left: calc(50% - 79px/2 + 49.5px);
}
.header_button_about{
    left: calc(50% - 90px/2 + 210px);
}
.header_button_contact{
    left: calc(50% - 120px/2 + 430px);
}
.header_buttom_login{
    left: calc(50% - 80px/2 + 562px);
}
.books_on_homepage{
    top: 5px;
}
.contact_extra_text{
    top: 400px;
}
.register_page{
    position: absolute;
    width: 564px;
    height: 750px;
    left: calc(50% - 284px);
    top: 250px;
}
@media only screen and (max-width: 1160px){
    .header_button_home{
        left: calc(50% - 120px);
    }
    .header_button_about{
        left: calc(50% + 40px);
    }
    .header_button_contact{
        left: calc(50% + 250px);
    }
    .header_buttom_login{
        left: calc(50% + 400px);
    }
    .books_on_homepage{
        top: 115px;
    }
}
@media only screen and (max-width: 996px){
    .header_button_home, .header_button_about, .header_button_contact, .header_buttom_login{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
      }
    .header_button_home{
        left: calc(50% - 140px);
    }
    .header_button_about{
        left: calc(50% - 30px);
    }
    .header_button_contact{
        left: calc(50% + 123px);
    }
    .header_buttom_login{
        left: calc(50% + 230px);
    }
    .books_on_homepage{
        width: 0px;
        left: 0px;
    }
}